{{>header}}
{{>navbar}}
    
    <div class="alert text-center">
       {{errorMessage}}
    </div>

    <style>
        .alert {
        padding: 20px;
        background-color: #f44336; 
        color: white;
        margin-bottom: 15px;
        }
    </style>
{{>footer}}